extends layout

block content
  section
    header 
      h1 Welcome
    nav 
      ul 
        li 
          a(href="1.html") 1.html 
        li 
          a(href="2.html") 2.html
        li 
          a(href="3.html") 3.html
    article 
      p welcome myweb
      p 이 웹사이트는 Node.js Express-generator로 만들어졌습니다
    footer 
      p footer

        
