doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    script.
      function toggleSubBoard(event) {
        var parent = event.target.closest('li');
        var subBoard = parent.querySelector('ul');
        subBoard.classList.toggle('open');
      }
  body
    block content
