body {
  display: flex;
  flex-direction: column;
}
section {
  display: flex;
  width: auto;
  border: 1px solid gray;
}
header {
  border-bottom: 1px solid gray;
  text-align: center;
}
nav {
  flex-basis: 150px;
  border-right: 1px solid gray;
}
article {
  display: flex;
  border-left: 1px solid gray;
  padding: 10px;
  margin-left: -1px;
  height: 600px;
  flex-grow: 1;
  text-align: center;
}
footer {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}
aside {
  border-left: 1px solid gray;
  flex-basis: 250px;
  text-align: center;
}
#box {
  margin: 5px;
  border: 1px solid gray;
  flex-grow: 1;
}
.no_marker {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.p_list {
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 5px;
}
.sub_list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.sub_list.open {
  max-height: 200px;
}
