body {
  display: flex;
  flex-direction: column;
}
section {
  display: flex;
  width: auto;
  border: 1px solid gray;
}
header {
  border-bottom: 1px solid gray;
  text-align: center;
}
nav {
  flex-basis: 150px;
  border-right: 1px solid gray;
}
article {
  border-left: 1px solid gray;
  padding: 10px;
  margin-left: -1px;
  height: 600px;
  flex-grow: 1;
  text-align: center;
}
footer {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}
aside {
  border-left: 1px solid gray;
  flex-basis: 250px;
  text-align: center;
}
